<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"/>
    <style type="text/css">
        h1{
            background-color: limegreen;
        }
    </style>
    <script src="" ></script>
    
    <source>
</head>
<body>
        <header>
        <img src="alcatraz.png" alt="Alcatraz"/>
        <h1>Welcome to Travel Experts</h1>
        <br/>
        </header>
        <nav>
            <a href="contacts.html">Contact Us</a>&nbsp;|
            <a href="register.html">Register</a>&nbsp;|
            <a href="http://expedia.ca">Expedia</a>&nbsp;|
            <a href="http://travelocity.com">Travelocity</a>&nbsp;|
            <a href="http://hotels.com">Hotels.com</a>
            <br/><br/><br/>
        </nav>
        
        <main>
            <section>
           <!-- <img src ="img/chichenitza.png" height=10% width=10%>
            <img src ="img/olmec-head.png" height=10% width=10%>
            <img src ="img/tulum.png"height=10% width=10%>
            <br/><br/><br/>
            </section>-->
            
        </main>
        <form method="GET" action="bouncer.php" target="_blank">
            <label for="fname">First Name:</label>
            <input type="text" placeholder="First Name" name="fname" id="fname"/><br/>
            <label for="lname">Last Name:</label>
            <input type="text" placeholder="Last Name" name="lname" id="lname"/><br/>
            <label for="addr">Address:</label>
            <input type="text" placeholder="123 Somewhere" name="addr" id="addr"/><br/>
            <label for="city">City:</label>
            <input type="text" placeholder="City name" name="city" id="city"/><br/>
            <label for="prov">Province:</label>
            <select name="prov" id="prov"/>
                <option value="">--</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="SK">Saskatchewan</option>
            </select><br/>
            <label for="pwd">Password:</label>
            <input type="pwd" placeholder="********" name="pwd" id="pwd"/><br/>
            <input type="submit" value="Send"/>
        </form>    
        <aside>
                <p>This is a list of Travel photos</p>
        </aside>
    <footer>
        Copyright &copy; 2019 Travel Experts
    </footer>
</body>
</html>