doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(name='author' content='Wade Grimm')
  meta(name='course' content='CPRG210')
  meta(name='date' content='November 23, 2019')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // Include JavaScripts for Navbar animation and functionality
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  title Contact Us
.container-fluid.jumbotron.sticky-top.jumbo-bg.fill
  // Main div
  // Add Navigation bar
  nav.navbar.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='/index.html') Travel Experts
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='index') Home
        li.nav-item
          a.nav-link(href='contact') Contact Us
        li.nav-item
          a.nav-link(href='about') About
  // Main Section
  .section.col-md-6
    // Section div
    p
      | Curabitur auctor nibh ornare, efficitur ipsum eget, sagittis tortor. Donec sed lacus ut ex volutpat
      | commodo. Suspendisse elementum varius mi, sit amet consectetur lectus efficitur in. Integer auctor
      | ultricies metus non auctor. Cras ac consequat dolor. Sed egestas mi vitae sapien luctus, id scelerisque
      | ipsum placerat. In viverra vehicula turpis sed dapibus. Morbi sit amet aliquam nisi. Donec turpis ex,
      | tristique ut urna sed, scelerisque interdum nulla. Vestibulum ante ipsum primis in faucibus orci luctus
      | et ultrices posuere cubilia Curae; Fusce id erat id arcu efficitur faucibus a at justo. Duis id augue
      | purus. Donec nibh nisl, ultrices eu tristique quis, commodo ut dolor.
    p
      | Pellentesque efficitur dictum justo vehicula viverra. Pellentesque habitant morbi tristique senectus et
      | netus et malesuada fames ac turpis egestas. Maecenas condimentum, risus sed ullamcorper fringilla, eros
      | leo condimentum mauris, id bibendum ligula arcu quis augue. Nulla ut rhoncus metus. Aliquam erat
      | volutpat. Mauris non ante et diam pretium faucibus. Pellentesque sed purus ex. Cras eget blandit erat,
      | quis mattis mauris. Donec pharetra lectus nec commodo sagittis. Ut sed erat maximus, consectetur dui
      | quis, scelerisque augue. Sed lobortis, ante eget fringilla rhoncus, ante magna vulputate erat, eget
      | auctor metus lectus aliquet diam. Sed dapibus imperdiet lorem, non tristique lorem dapibus non. Etiam
      | placerat risus vitae sapien faucibus tempus. Quisque ipsum massa, sodales in nibh sed, maximus viverra
      | purus. Curabitur sit amet interdum mauris, ut luctus nisl. Vivamus nec dignissim lectus, eu volutpat
      | sem.
  // Section div
  .section.col-md-6
    p
      | Phasellus vel enim condimentum, tempus neque pellentesque, pretium ipsum. Aenean tincidunt iaculis orci,
      | in tincidunt turpis imperdiet eu. Nunc vitae viverra odio, eget ultrices lorem. Nunc malesuada ex vitae
      | mauris tempus, a dignissim neque elementum. Maecenas eu lacus nec nulla molestie rhoncus. In hac
      | habitasse platea dictumst. Nunc lobortis justo non neque sagittis facilisis. Pellentesque nulla arcu,
      | tincidunt a nisl et, pretium luctus sem.
      | Nulla commodo elit eget magna egestas venenatis. Suspendisse consectetur erat mi, pharetra malesuada
      | purus fermentum sed. Donec in porta libero. Praesent vitae nibh enim. Nullam consequat lobortis felis et
      | efficitur. Curabitur in euismod ipsum. Nullam dictum id odio vitae posuere. Praesent elit neque, dapibus
      | cursus pulvinar quis, elementum vitae dui. Mauris id auctor tortor.
// Main div
