<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Wade Grimm">
    <meta name="course" content="CPRG210">
    <meta name="date" content="November 23, 2019">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Include JavaScripts for Navbar animation and functionality -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

    <title>About Us</title>
</head>

<body>
    <div class="container-fluid jumbotron sticky-top jumbo-bg fill ">
        <!-- Main div-->
        <!-- Add Navigation bar -->
        <nav class="navbar navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/index.html">Travel Experts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item"> <a class="nav-link" href="index.html">Home</a>
                    <li class="nav-item"> <a class="nav-link" href="contact.html">Contact Us</a>
                    <li class="nav-item"> <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Main Section -->
        <div class="section col-md-6">
            <!-- Section div -->
            <p>Maecenas dignissim risus at augue convallis, at viverra ligula viverra. Ut sed diam a orci facilisis
                ultricies eu in turpis. Duis sollicitudin faucibus mattis. Orci varius natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Nam et dolor bibendum libero porta faucibus eu ornare mi.
                Phasellus at felis id est laoreet rutrum sit amet eu arcu. Fusce a elementum nunc. Nunc ut cursus sem.
                Nulla bibendum risus metus, posuere mattis urna tincidunt quis. Aliquam est neque, blandit eu hendrerit
                ut, iaculis ac libero. Quisque eget interdum enim. Fusce porta convallis pharetra.
            </p>
            <p>In sagittis a nisl non tincidunt. In gravida ipsum fermentum, porttitor ante eleifend, placerat sem. Nunc
                cursus tristique massa, a sodales nisl molestie sit amet. Nulla in ligula sollicitudin, laoreet velit
                id, ultrices sapien. Etiam quis faucibus ligula. Cras pulvinar interdum enim, a ullamcorper nulla
                pharetra ut. Fusce tempus volutpat erat, ac ornare lectus vehicula sit amet. Vivamus tellus libero,
                congue vel ligula a, accumsan consectetur eros. Suspendisse rutrum nunc at lacinia ornare. Orci varius
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eu risus magna.
            </p>
        </div> <!-- Section div -->
        <div class="section col-md-6">
            <p>Etiam at lorem vitae libero fringilla congue. Suspendisse eget lacinia risus, eget pulvinar felis. Nunc
                ullamcorper consectetur est pharetra molestie. Mauris elementum ligula eget massa congue, id rutrum
                tellus pellentesque. Phasellus luctus lorem id ligula ullamcorper viverra. Vestibulum euismod elit sed
                lacus venenatis, nec cursus est gravida. Nunc rutrum commodo turpis vel pharetra. Fusce id volutpat
                ipsum, nec ullamcorper nulla. Donec vestibulum feugiat nibh. Suspendisse placerat sapien eget est porta
                facilisis.
            </p>

        </div>
    </div><!-- Main div-->


</body>

</html>