<!DOCTYPE html>
<html>
	<head>
		<title>demo</title>
	</head>
	<body>
		<form method="post" action="/post_form">
			First Name:<input type="text" name="fname" /><br />
			Last Name:<input type="text" name="lname" /><br />
			Address:<input type="text" name="address" /><br />
			City:<input type="text" name="city" /><br />
			Prov:<input type="text" name="prov" /><br />
			Postal:<input type="text" name="postal" /><br />
			Country:<input type="text" name="country" /><br />
			Home Phone:<input type="text" name="hphone" /><br />
			Bus Phone:<input type="text" name="bphone" /><br />
			Email:<input type="text" name="email" /><br />
			Agent:<input type="text" name="agent" /><br />
			<input type="submit" />
		</form>
	</body>
</html>